[Unit]
Description=MicroPanel OLED Menu System
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/pi/micropanel/build/micropanel -c /home/pi/micropanel/screens/nested-persist-pi.json 1>/tmp/micropanel.log 2>/tmp/micropanel.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
